.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-image-1 {
  width: 391px;
  height: 134px;
  margin: 36px auto 0;
}

.u-section-1 .u-group-1 {
  width: 782px;
  min-height: 72px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  margin: 16px 36px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 36px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 351px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-size: auto 105%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 117px;
    margin-top: 32px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 35px;
  }
}